/*FOR LATER*/
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@300&family=Nunito:ital,wght@1,300&family=Playfair+Display:wght@500&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;

*/
.top {
  position: absolute;
  top: -40px;
  left: 200px;
}

.overflow-container {
  position: relative;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px whitesmoke; /* White outline */
  margin-bottom: 40px;
}
body {
  font-family: "Playfair Display", serif;
  color: whitesmoke;
  background-color: rgba(49, 51, 59, 255);
}
.background-color-2 {
  background-color: rgba(52, 53, 58, 255);
}
.headline {
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: rgba(226, 182, 101, 255);
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
}

.filled-button {
  background-color: rgba(226, 182, 101, 255);
  color: rgba(49, 51, 59, 255);
  border-radius: 10px;
  padding: 3px 22px 3px 22px;
  border: none;
  text-align: center;
}

.inner-container {
  padding-top: 30px;
  display: flex;
  align-items: baseline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-flow: column;
}

.flex-row {
  width: 100%;
  display: inline-flex;
}
.wrap {
  flex-wrap: wrap;
}

/* skillcard cant move it to file stop working*/
/* .card {
    background-color: rgba(61,62,66,255) ;
    height: 270px ;
    width: 270px ;
    margin: 1% ;
    border-radius: 15% ;
    padding: 30px ;
}

.card-logo{
    height: 140px;
    width: 144px;
    padding-bottom: 20px;
}  */
