/*FOR LATER*/
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans:wght@300&family=Nunito:ital,wght@1,300&family=Playfair+Display:wght@500&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;

*/
:root {
  --main-darker-gray: #242423;
  --main-lighter-gray: #333533;
  /* --main-lighter-yellow: #f5cb5c; */
  --main-yellow: #e2b665ff;
  --main-white: #f5f5f5;
  --main-sand: #e8eddf;
  --main-lightgreen: #cfdbd5;
}

body {
  font-family: "Playfair Display", serif;
  color: whitesmoke;
  background-color: var(--main-darker-gray);
}
.background-color-2 {
  background-color: var(--main-lighter-gray);
}
.headline {
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: var(--main-yellow);
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button {
  background-color: var(--main-lighter-gray);
  color: var(--main-yellow);
  border: 2px solid var(--main-yellow);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  width: 175px;
  height: 55px;
  margin-top: 25px;
}

/*



*/
/* skillcard cant move it to file stop working*/
/* .card {
    background-color: rgba(61,62,66,255) ;
    height: 270px ;
    width: 270px ;
    margin: 1% ;
    border-radius: 15% ;
    padding: 30px ;
}

.card-logo{
    height: 140px;
    width: 144px;
    padding-bottom: 20px;
}  */
