.banner-container {
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90vh;
}
.banner-top-conmtainer {
  display: flex;
  align-items: center;
  flex-flow: row;
}
.banner-picture {
  width: 800px;
  height: auto; /* Full viewport height */
  border-radius: 100%;
  background: var(--main-yellow);
}

.banner-text {
  margin-right: 200px;
}

.highlight-bold {
  color: var(--main-yellow);
  font-size: 2em;
}

@media (max-width: 1400px) {
  .banner-container {
    height: 70vh;
  }
  .banner-text {
    margin-right: 100px;
  }
}

@media (max-width: 1200px) {
  .banner-container {
    color: var(--main-white);
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
  }
  .banner-text {
    margin-right: 50px;
  }
}

@media (max-width: 1000px) {
  .banner-container {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .banner-picture {
    width: 400px;
    height: 400px;
  }
  .banner-text {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .banner-text h1 {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
  }
}
@media (max-width: 425px) {
  .banner-container {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .banner-picture {
    width: 200px;
    height: 200px; /* Full viewport height */
    display: flex;
    justify-content: flex-end;
    border-radius: 100%;
  }
  .highlight-bold {
    color: var(--main-yellow);
    font-size: 1em;
  }
  .banner-text {
    font-size: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .banner-top-conmtainer {
    display: flex;
  }
  .banner-text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
