.contact-container {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.contact-info {
  flex: 1;
  margin-right: 20px;
}

.label {
  color: var(--main-yellow); /* Soft orange color */
}
.light-gray {
  background-color: var(--main-lighter-gray);
}
.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form ::placeholder {
  color: var(--main-white);
}
.contact-form input,
.contact-form textarea {
  color: var(--main-white);
  background-color: var(--main-darker-gray);
  box-shadow: 0 4px 10px 0 var(--main-yellow);
  border: none;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
}
.contact-form textarea {
  height: 200px;
}
.contact-form button {
  cursor: pointer;
  align-self: center;
  width: 300px;
  margin-bottom: 30px;
}
