.contact-top-container {
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
  flex-flow: column;
  max-height: fit-content;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.contact-info {
  flex: 1;
  margin-right: 20px;
}

.contact-me-heder {
  font-size: 100px;
}
.label {
  color: #d3a66b; /* Soft orange color */
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  background-color: rgba(52, 53, 58, 255);
  box-shadow: 0 4px 10px 0 rgba(226, 182, 101, 255);
  border: none;
  margin-bottom: 15px;
  padding: 15px;
  color: #fff;
  border-radius: 5px;
}
.contact-form textarea {
  height: 200px;
}
.contact-form button {
  padding: 15px;
  cursor: pointer;
  background-color: rgba(52, 53, 58, 255);
  color: rgba(226, 182, 101, 255);
  border: 2px solid rgba(226, 182, 101, 255);
  border-radius: 10px;
  width: 200px;
  align-self: center;
}

.contact-form button:hover {
  background-color: #b2834b;
}
