.media-bar-container {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-left: 150px;
}

.social-media-icon {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.media-line {
  background-color: var(--main-yellow);
  height: 150px;
  width: 3px;
  margin-bottom: 15px;
}
@media (max-width: 425px) {
  .media-bar-container {
    margin-left: 20px;
  }
}

@media (max-width: 1500px) {
  .media-bar-container {
    display: none;
  }
}

@media (max-width: 1700px) {
  .media-bar-container {
    margin-left: 50px;
  }
}
