.navbar-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 50px 0 50px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .nav-link {
  font-size: 1.7em;
  margin: 15px;
  text-decoration: none;
  color: var(--main-white);
  cursor: pointer;
}

.menu .nav-link:hover {
  color: var(--main-yellow);
}

.logo {
  max-height: 100px;
}
