.portfolio-button {
  height: 70px;
  width: 250px;
  margin: 50px 0 50px 0;
  font-size: 30px;
}

.portfolio-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
