/* 
not working so its in the main app.css
*/
.skill-card {
  height: 150px;
  width: 150px;
  flex-flow: column;
  margin: 20px;
}

.card-logo {
  height: 100px;
  width: 100px;
  padding: 15px;
}

.wrap {
  display: flex;
  flex-flow: wrap;
}

@media (max-width: 425px) {
  .skill-card {
    height: 70px;
    width: 70px;
    flex-flow: column;
    margin: 15px;
  }

  .card-logo {
    height: 50px;
    width: 50px;
    padding: 15px;
  }
  .wrap {
    width: 70%;
  }
  .skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
