.timeline-top-container {
  display: flex;
  justify-content: flex-start;
  min-height: 250px;
}

.timeline-year-container {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile {
  display: none;
}
.year-pointer {
  text-align: center;
  background-color: transparent;
  height: 30px;
  width: 70px;
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--main-lighter-gray);
}
.year {
  text-align: center;
  background-color: var(--main-lighter-gray);
  height: 30px;
  width: 70px;
}

.dot-line-container {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  justify-content: start;
  align-items: center;
}
.dot-container {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--main-yellow);
  box-shadow: 0 0 10px 5px var(--main-yellow);
}

.verticle-line {
  height: 70%;
  width: 3px;
  background-color: var(--main-lighter-gray);
  margin-top: 10px;
}
.mobile-line-text {
  display: flex;
  flex-flow: row;
}
.timeline-text {
  padding-top: 30px;
  width: 80%;
  display: flex;
  flex-flow: column;
}
@media (max-width: 425px) {
  .mobile {
    display: contents;
  }
  .timeline-top-container {
    min-height: auto;
  }
  .timeline-text {
    padding-top: 0;
  }
  .verticle-line {
    height: auto;
    width: 3px;
    background-color: var(--main-lighter-gray);
    margin: 0 10px;
  }
  .origin {
    display: none;
  }
}
